body {

	font-size:18px;
	font-family:Helvetica;
}

header img {
	height: 1.5rem;
	padding-right: 1rem;
	padding-left: 0.5rem;
}

header {
	background-color:black;
}

header div {
	display: flex;
	align-items: center;
	background-color: black;
	color: white;
	padding-top: 0.66rem;
 	padding-bottom: 0.66rem;

}

.container-size {
	width: 960px;
	margin: 0 auto;
}

.FrontPage {
	height: 25rem;
	width: auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/moto.jpeg)
}

