body {
	font-size:18px;
	background-color: black;
	font-family:Helvetica;
}

header img {
	height: 1.5rem;
	padding-right: 1rem;
	padding-left: 0.5rem;
}


header {
	display: flex;
	flex-grow: 2;
	color: white;
	padding: 0.6rem auto;
}

.container {

	width: 960px;
}